%div.course-info.row-fluid
  %div.span8
    %h1
      = @course.title
      %small= @course.subject.title
  %div.span4
    %div
      By
      %strong= @course.instructor.name
      at
      %strong= @course.instructor.school
%div.course-videos.row-fluid
  %div.span2
  %div.span8
    %div.accordion#lessons-list
      - @lessons.each do |lesson|
        = render "lesson_item", lesson: lesson
    %div.modal.hide#video-modal
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"} x
        %h3
      %div.modal-body
        %div#video
        %div#quiz.hide

      %div.modal-footer
        %button.btn{"data-dismiss"=>"modal"} Cancel
