%html
  %head
    %title Coursare

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type: "text/javascript"></script>
    <![endif]-->

    = include_gon
    = stylesheet_link_tag "application",media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2/swfobject.js"

    = csrf_meta_tags
    = yield(:head)

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body{class: controller.controller_name}
    %div.navbar.navbar-fixed-top
      %div.navbar-big
        %div.row-fluid
          %div.container
            %div.span3
              %a.brand{href: user_signed_in? ? "/courses":"/"}
                %strong Coursare
            %div.nav-collapse.span9
              %ul.nav.pull-right.header-link
                %li
                  %a.send-message{href: "#"} Send Message
                  :javascript
                    $(".send-message").click(function(){
                      $(".message-modal").modal();
                      });
                %li= link_to "Courses", courses_path
                - if user_signed_in?
                  %li= link_to "Sign out",destroy_user_session_path, method: :delete
                - else
                  %li= link_to "Sign in",new_user_session_path
    %div.modal.hide.fade.in.message-modal
      %div.modal-header
        Send a message
      %div.modal-body
        - @message = Message.new
        = form_for (@message) do |f|
          = f.label :receiver_id
          = f.text_field :receiver_id

          = f.label :sender_id
          = f.text_field :sender_id

          = f.label :content
          = f.text_area :content, rows: 5
          %div.modal-footer
            = f.submit "class"=>"btn btn-primary"
    %div.container-fluid
      %div.row-fluid.notice-alert
        -# Notifications
        - if notice
          %div.alert.alert-success
            %button.close{:"data-dismiss"=>"alert"} x
            %p= notice
        - if alert
          %div.alert.alert-error
            %button.close{:"data-dismiss"=>"alert"} x
            %p= alert


      %div.row-fluid
        %div.mycontainer
          = yield
          %hr
          %footer
            %p Copyright by Coursare.vn

